body, html {
  margin: 0;
  padding: 0;
}
*
{
	margin: 0;
	padding: 0;
}
.header
{   
	height: 100vh;
}
.myvideo
{
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}
.logo
{
	margin: 5px;
	height: 10px:


}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

h1, p {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  color:#ffcccc 
}
p2 {text-align:center;
     color: Red;
   } 

.txt, select, form > div {
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  background: transparent;
  padding: 10px;
  border-radius: 50px;
  
}

.txt {
  width: 80%;
  height: 50%;
  color: white;
}

select {
  width: 83%;
  color: lightblue;
}

form > div {
  width: 81%;
}

.txt, form > div {
  margin-bottom: 10px;
  overflow: auto;
}

.clearfix {
  clear: both;
}
.pitch-value {
	color: white;
}
.rate-value {
	color: white;
}
label {
  float: left;
  width: 5%;
  line-height: 1.5;
  color: white;
}


.controls {
  text-align: center;
  margin-top: 10px;
}

.controls button {
  position: relative;
  display: inline-block;
  color: #2196f3;
  text-transform:uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.name 
{
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
	background: transparent;
	padding-bottom: 30px;
	color: white;
}
	
